@tailwind base;
@tailwind components;
@tailwind utilities;

#detail .detail__size:not(:first-child){
    margin-left: 1rem
}
#detail .detail__input:focus{
    border: 2px solid black;
    outline-offset: 5px;
}
#detail label{
    margin-left: 0.2rem
}
#detail button:hover{
    opacity: 0.8
}